## Step 1: UNDERSTAND VARIABLES ASSIGNMENT

In [1]:
# Define a variable named "x" and assign a number (integer) to it
# integer is a whole number (no decimals) that could be positive or negative

x=200

In [2]:
# # Display value of "x"
x

200

In [3]:
# Define a variable named "y" and assign a number (float) to it
# Float are real numbers with a decimal point dividing the integer and fractional parts

Y = 20.0

In [4]:
# # Display value of "y"
Y

20.0

In [5]:
# Let's overwrite "y" (assume your portfolio value increased)
Y = 300.25

In [6]:
# Notice that "y" will only contain the most recent value
Y

300.25

In [7]:
# Get the type of "x" which is integer
# integer is a whole number (no decimals) that could be positive or negative
type(x)

int

In [8]:
# Get the type of "y" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts
type(Y)

float

MINI CHALLENGE #1:
- We defined a variable x and we assigned these 4 values listed below to it. Without executing any code cells, what will these lines of code generate?
- Verify your answer by executing the code cells



```
z = 1000
z = 2000
z = 5000
z = 6000
z
```

In [13]:
z=1000
z=2000
z=3000
z=4000
z=5000
z=6000
z

6000

## Step 2: Basic Arithmetic with Variables: PERFORM MATH OPERATIONS IN PYTHON

In [15]:
# Define a variable named i and initialize it with 20 
# Let's assume that we want to increment the value by 4 
i = 20
i = i+4
i

24

In [17]:
# Let's assume that you own a little grocery store 
# The price of 1 bottle of milk is $3 and we currently have 50 bottles
# We can calculate the total dollar value of our inventory as follows:
count = 50
price = 3
inventory = count * price
inventory

150

In [21]:
# Let's assume you have $550 USD in our bank account
# We want to buy x number of IBM stocks using the total amount 
# each IBM stock is priced at $128 each
account = 550
IBM_stock = 128
my_shares = account / IBM_stock
my_shares

4.296875

In [26]:
# Divide the account balance by Amazon stock price and place the answer in units
my_shares = account / IBM_stock
my_shares

4.296875

MINI CHALLENGE #2:
- Write a code that takes in APPLE (AAPL) stock prices at two days and calculate the return:
  - AAPL price on day 1 = \$135
  - AAPL price on day 2 = \$150

In [25]:
aapl_day_1 = 135
aapl_day_2 = 150
price_diff = aapl_day_2 - aapl_day_1
percent_change= price_diff / aapl_day_1 * 100
percent_change

11.11111111111111

## Step 3: UNDERSTAND PRINT AND INPUT OPERATIONS

In [27]:
# Print function is used to print elements on the screen
# Define a string x 
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks
x = "Jovaan Whitton"

In [28]:
x

'Jovaan Whitton'

In [29]:
# Obtain the data type for 'x'
type(x)

str

In [1]:
# The format() method formats the specified value and insert it in the placeholder
# The placeholder is defined using curly braces: {}
company_name = "amazon"
shares = 1000000
print("I own {} shares of {}".format(shares, company_name))

I own 1000000 shares of amazon

In [34]:
# input is a built-in function in python
# Obtain client data such as name, country and e-mail and print them all out on the screen
name = input("welcome to jovaans shop. Please enter your name")

welcome to jovaans shop. Please enter your nameJovaan

In [35]:
name

'Jovaan '

MINI CHALLENGE #3:
- Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:
  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is: 15000

In [38]:
stock_price = input("What is the price of the stock you wish to buy?")
number_of_shares= input("How many shares do you wish to purchase?")
stock_name= input("What is the name of the stock you are purchasing?")
print ("The total funds required to buy {} number of {} stocks at {} is 15000".format(number_of_shares, stock_name, stock_price))

What is the price of the stock you wish to buy?3000
How many shares do you wish t purchase?5
What is the name of the stock you are purchasing?AMZ
The total funds required to buy 5 number of AMZ stocks at 3000 is 15000

## Step 4: UNDERSTAND LISTS DATA TYPES

In [3]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
grocery_list= ['milk' , 'rice' , 'eggs' , 'bread' ,  'oranges', 'water']
grocery_list

['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']

In [4]:
# Obtain the datatype
type(grocery_list)

list

In [9]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
grocery_list[4]

'oranges'

MINI CHALLENGE #4:
- Print the first, second and last element in the list below

```
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']

```

In [19]:
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']
grocery_list[0]

'milk'

In [20]:
grocery_list[1]

'rice'

In [21]:
grocery_list[5]

'water'

## Step 5: UNDERSTAND COMPARISON OPERATORS AND CONDITIONAL STATEMENTS

In [28]:
# Comparison Operator output could be "True" or "False"
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is x equals y or not?"
# "True" output means condition is satisfied 
# "False" output means Condition is not satisfied (condition is not true) 

x = 1000
y = 600

print(type(x) == type(y))
print(x == y)

True
False

In [31]:
# Greater than or equal operator '>='

x = 1000
y = 600

print(x >= y)
print(y >= x)

True
False

In [33]:
# Note that '==' is a comparison operator 
# Note that '=' is used for variable assignment (put 10 in x)
x = 10

In [34]:
print

10

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements. 
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [40]:
# Let's take an input from the user and grant or deny access accordingly

name = input("Enter your username:")

if name == "Jonathan":
    print("Access granted")
else:
    print ("Access denied")

Enter your username:Jonathan
Access granted

In [43]:
x = int(input("Please enter an integer from 1 to 1000:"))

if x % 2 == 0:
    print("This is an even number")
else:
    print("This is an even number")

Please enter an integer from 1 to 1000:24
This is an even number

MINI CHALLENGE #5:
- Write a code that takes a number from the user and indicates if it's positive or negative

In [46]:
x = int(input("Please enter a number between -1000 to 1000: "))

if x < 0:
    print("This is a negative number")
else:
    print("This is a positive number")

Please enter a number between -1000 to 1000: 999
This is a positive number

# TASK #6: DEVELOP FUNCTIONS IN PYTHON

In [51]:
# Define a function that takes in two argument x and y and returns their multiplication 
def multiply(x,y):
    return(x * y)

In [61]:
# Call the function
multiply(9,10)

90

MINI CHALLENGE #6:
- Write a code that takes in three inputs from the user and calculate their sum

In [58]:
def adding(x,y,z):
    return x + y + z

In [67]:
num1 = int(input("Enter the first number: "))

num2 = int(input("Enter the second number: "))

num3 = int(input("Enter the third number: "))

Enter the first number: 25
Enter the second number: 35
Enter the third number: 55

In [68]:
adding(num1, num2, num3)

115

# TASK #7: UNDERSTAND FOR AND WHILE LOOPS

In [69]:
# List of strings
grocery_list = ['tomatoes', 'eggs', 'bell peppers', 'ginger', 'garam masala']
grocery_list

['tomatoes', 'eggs', 'bell peppers', 'ginger', 'garam masala']

In [76]:
for i in grocery_list:
    print("get " + i)

get tomatoes
get eggs
get bell peppers
get ginger
get garam masala

In [79]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1. 
# The last integer generated by range() is up to, but not including, last element. 
# Example: range(0, 7) generates integers from 0 up to, but not including, 7.

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [86]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.

i = 0

while i <= 10:
    print(i)
    i = i + 2

0
2
4
6
8
10

## MINI CHALLENGE #7:
- Write a code that displays numbers from 1 to 10 using for and while loops

In [91]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [89]:
i = 0

while i <= 10:
    print (i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10

# TASK #8: CAPSTONE PROJECT

Develop a guessing game that performs the following: 
- The system will automatically generate a random number between 1 and 100. 
- Users can insert any number between 1 and 100
- The program shall be able to compare the number generated by the system and the number that has been entered by the user. The program shall print out one of the following options to help the user improve their next guess:
    - You are right, great job!
    - Your guess is low, try again!
    - your guess is high, try again!

- The program exits when the user guess matches the number generated by the system

In [117]:
import random

random_number = random.randint(1,100)
random_number

97

In [118]:
user_input = int(input("Enter a number between 1 and 100: "))

Enter a number between 1 and 100: 10

In [119]:
while random_number:
    if user_input == random_number:
        print("You are right, good job!")
        break
        
    elif user_input < random_number:
        print("Your guess is low, try again")
        user_input = int(input("Enter a number between 1 and 100: "))
        
    elif user_input > random_number:
        print("Your guess is high, try again")
        user_input = int(input("Enter a number between 1 and 100: "))

Your guess is low, try again
Enter a number between 1 and 100: 55
Your guess is low, try again
Enter a number between 1 and 100: 72
Your guess is low, try again
Enter a number between 1 and 100: 100
Your guess is high, try again
Enter a number between 1 and 100: 90
Your guess is low, try again
Enter a number between 1 and 100: 95
Your guess is low, try again
Enter a number between 1 and 100: 97
You are right, good job!